:root {
  color-scheme: dark;
}

.App {
  margin-top: 30px;
}

body {
  background-color: #1d1e22;
}

input {
  outline: none;
  border: 1px solid #4654a9;
  background-color: #1d1e22;
  color: #f1f1f1;
  width: 200px;
  padding: 8px 9px;
  border-radius: 5px 0 0 5px;
}

#calculate-button {
  outline: none;
  background: none;
  border: none;
  background-color: #4654a9;
  padding: 9px 9px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}